* {
    padding: 0;
    margin: 0;
    user-select: none;
}

:root {
    /*Color*/
    --lightyellow: #FFF3E0;
    --darkgrey: #3C3E4B;
    --lightsand: #d6d193;
    --peach: #f3b0a4;
    --white: #ffffff;

    /*Font*/
    --roboto: 'Roboto', sans-serif;
    --bebas: 'Bebas Neue', cursive;
    --monsterrat: 'Montserrat', sans-serif;

    /*Font size*/
    --mega: 120px;
    --big: 38px;
    --medium: 30px;
    --small: 22px;
    --mini: 18px;
}

/* TEXT */

.bigText {
    font-size: var(--big);
    color: var(--white);
}

.mediumText {
    font-size: var(--medium);
    color: var(--white);
}

.smallText {
    font-size: var(--small);
    color: var(--white);
}

.miniText {
    font-size: var(--mini);
    color: var(--lightyellow);
}

.tertiaryText {
    color: var(--lightsand)
}

.underlineText {
    text-decoration: underline;
    cursor: pointer;
    color: var(--lightyellow);
}

.boldText {
    font-weight: bold;
}

.italicText {
    font-style: italic;
}

.colorYellowText {
    color: var(--lightyellow)
}

.colorDarkGreyText {
    color: var(--darkgrey)
}

.colorQuoteText {
    color: var(--peach)
}

body {
    background-color: var(--lightyellow);
    color: var(--darkgrey);
    font-family: var(--monsterrat);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--lightsand);
}

span {
    position: relative;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ad1a00;
}

::-webkit-scrollbar-thumb {
    background-color: var(--peach);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/* BUTTON BACK TO TOP */

#backToTopButton {
    width: 50px;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--lightyellow);
    color: var(--darkgrey);
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
}

#backToTopButton:hover {
    background-color: var(--lightsand);
}

#backToTopButton img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/* MENU */
.menu {
    position: absolute;
    top: 10px;
    right: 10px;
}

#menuButton {
    width: 50px;
    height: 50px;
    font-size: 20px;
    align-items: center;
    justify-self: center;
    background-color: var(--darkgrey);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

#menuButton:hover {
    background-color: var(--peach);
}

.menu:hover #dropdownMenu {
    display: block;
}

#dropdownMenu {
    width: 140px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px var(--darkgrey);
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

#dropdownMenu li {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--darkgrey);
}

#dropdownMenu li i {
    margin-right: 8px;
}

#dropdownMenu li:last-child {
    border-bottom: none;
}

#dropdownMenu li a {
    color: var(--darkgrey);
    text-decoration: none;
}

#dropdownMenu li a:hover {
    color: #ad1a00;
}

/* #menu {
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}

#menu div {
    font-family: var(--monsterrat);
    color: var(--darkgrey);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-size: var(--mini);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#menu div:hover {
    transform: scale(1.03);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.548);
}

.menuButton {
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: 0.1875rem solid var(--darkgrey);
    outline: none;
    background-color: transparent;
    color: var(--darkgrey);
    font-family: inherit;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 150ms ease-out;
}

.menuButton:focus,
.menuButton:hover {
    border-color: #ad1a00;
    color: #ad1a00;
}

.menuButton:active {
    border-color: var(--peach);
    color: var(--peach);
    transition-duration: 75ms;
} */

/* TOP */

/* #topSection {
    width: 100%;
    height: 85%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
} */

#titlePage {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 80px;
}

#title {
    width: fit-content;
    font-family: var(--monsterrat);
    color: var(--darkgrey);
    font-size: var(--mega);
    line-height: var(--mega);
}

#subtitle {
    width: fit-content;
    font-family: var(--monsterrat);
    color: var(--darkgrey);
    font-size: var(--medium);
}

/* ARROW CONTAINER */

#content {
    background-color: var(--darkgrey);
    width: 100%;
    height: fit-content;
    position: relative;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#arrowContainer {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

#arrowContainer img {
    width: 50px;
}

/* CONTENT CONTAINER */

.contentContainer {
    width: 65%;
    height: fit-content;
    border-left: solid var(--white) 4px;
    position: relative;
    margin: 0 auto;
    padding: var(--big) 0px 120px 25px;
}

.contentContainer::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--lightyellow);
    top: calc(-1 * 30px / 2);
    left: calc(-1 * 30px / 2 - 2px);
}

.contentContainer::after {
    content: attr(titolo);
    color: var(--lightyellow);
    font-size: var(--big);
    font-family: var(--monsterrat);
    position: absolute;
    top: calc(-1 * var(--big) / 2);
    left: 25px;
}

/* DOUBLE CONTAINER */

.doubleContainer {
    display:inline;
    align-items: center;
}

.doubleText {
    flex: 1;
    padding-right: 20px;
}

.doubleImage {
    flex: 1;
    text-align: right;
    max-width: 40%;
}

.doubleImage img {
    max-width: 100%;
    height: auto;
}

/* APP CONTAINER */

.appContainer {
    display: flex;
    flex-wrap: wrap;
}

.appBox {
    width: 20%;
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
}

.appBox a {
    display: block;
}

.appBox img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* COLUMNS */

.languagesColumn {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0;
}

.languagesColumn img {
    height: calc(var(--big) + 15px);
    margin-right: 10px;
}

.languagesColumn span {
    margin-right: 10px;
}

.skillsColumn {
    display: inline-block;
    margin-right: 50px;
}

.technologiesColumn {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
}

/* PROGRESS BAR */

.progressBar {
    width: 400px;
    height: 10px;
    background-color: var(--white);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin: 10px 0;
}

.progressBar div {
    content: "";
    background-color: var(--lightsand);
    position: absolute;
    height: 10px;
    top: 0;
    left: 0;
}

/* DEV BUTTON */

.developButton {
    width: fit-content;
    height: fit-content;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.developButtonImg {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

/* CV */

#cvContainer {
    display: flex;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.cvButton {
    width: 45px;
    height: 45px;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--lightyellow);
    color: var(--darkgrey);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cvButton:hover {
    background-color: var(--lightsand);
}

.cvButton img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/* FOOTER */

#footer {
    width: 100vw;
    height: 100px;
    background-color: var(--lightyellow);
    padding: 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footerContainer {
    width: fit-content;
    display: flex;
    align-items: center;
  }

.footerColumn {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    margin-left: 500px; /* Spazio a sinistra dell'immagine a destra */
    margin-right: 500px; /* Spazio a destra dell'immagine a sinistra */
}

.footerButton {
    width: fit-content;
    height: fit-content;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.footerButtonImg {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.footerButtonImg img {
    width: 60%;
}

/* MEDIA */

@media only screen and (hover:none) {
    .popup {
        display: none;
    }
}

/*Tablet*/
@media only screen and (max-width: 1000px) {
    :root {
        /*Font size*/
        --mega: 60px;
        --big: 28px;
        --medium: 25px;
        --small: 18px;
        --mini: 18px;
    }

    .contentContainer {
        width: 80%;
    }

    .progressBar {
        width: 300px;
    }
}

@media only screen and (max-width: 1600px) {
    #midNav {
        margin-top: 150px;
        margin-bottom: 50px;
    }

    .menuButton {
        padding: 0.15rem 0.65rem;
        font-size: 0.8em;
        line-height: 0.9rem;
    }
}

/*Phone*/
@media only screen and (max-width: 475px) {
    :root {
        /*Font size*/
        --mega: 60px;
        --big: 22px;
        --medium: 20px;
        --small: 16px;
        --mini: 13px;
    }

    #midNav {
        width: 100%;
        height: 100%;
        background-color: var(--lightyellow);
    }

    .contentContainer {
        width: 90%;
        padding-left: 0;
        border: none;
    }

    .contentContainer::before {
        display: none;
    }

    .contentContainer::after {
        left: 0;
    }

    .doubleContainer {
        flex-direction: column;
    }

    .progressBar {
        width: 200px;
    }

    .footerColumn {
        margin: 0;
    }

    .menuButton {
        padding: 0.15rem 0.65rem;
        font-size: 0.8em;
        line-height: 0.9rem;
    }
}

@media only screen and (max-width: 340px) {
    .footerButton div:nth-child(2) {
        width: 70vw;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

/*Mini phone*/
@media only screen and (max-width: 300px) {
    :root {
        /*Font size*/
        --mega: 60px;
        --big: 18px;
        --medium: 20px;
        --small: 16px;
        --mini: 13px;
    }

    .footerButtonImg {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 400px) {
    .languagesColumn span:nth-of-type(2) {
        display: none;
    }
}